<div class='media'>
  <div class='media-left'>
    <a href='/growers/<%= grower.id %>'>
      <img class='img-rounded' src='<%= imageUrl(grower, 'small') %>' style='max-width: 100px; max-height: 100px;'>
    </a>
  </div>
  <div class='media-body'>
    <h3 class='media-heading'>
      <a href='/growers/<%= grower.id %>'><%= grower.name %></a>
    </h3>
    <%- marked(grower.description) %>
  </div>
</div>
