<div class='panel panel-default product'>
  <div class='panel-heading'>
    <h3 class='panel-title'>
      <a href='/growers/<%= grower.id %>'><%= grower.name %></a>
    </h3>
  </div>
  <div class='panel-body'>
    <div class='media'>
      <div class='media-left media-middle'>
        <div class='image-wrapper'>
          <a href='/growers/<%= grower.id %>'>
            <img class='img-rounded' src='<%= grower.imagePath('small') %>' style='max-width: 100px; max-height: 100px;'>
          </a>
        </div>
      </div>
      <div class='media-body'>
        <% if (grower.email) { %>
          <a href='mailto:<%= grower.email %>' target='_blank'>
            <%= grower.email %>
          </a>
        <% } %>
        <% if (grower.email && grower.url) { %>
          <br>
        <% } %>
        <% if (grower.url) { %>
          <a href='<%= grower.url %>' target='_blank'>
            <%= grower.url %>
          </a>
        <% } %>
        <% if (grower.location && (grower.email || grower.url)) { %>
          <br>
        <% } %>
        <% if (grower.location) { %>
          <%= grower.location %>
        <% } %>
      </div>
    </div>
  </div>
</div>
