<main class='container'>
  <% include ../subnav %>
  <div class='row'>
    <div class='col-md-3'>
      <p>
        <img class='img-rounded' src='<%= imageUrl(grower, 'medium') %>'>
      </p>
      <% include nav %>
    </div>
    <div class='col-md-9'>
      <h1><%= grower.name %></h1>
      <h2>Orders</h2>
      <hr>
      <table class='table'>
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <% products.forEach(function(product) { %>
            <tr>
              <td>
                <a href='/products/<%= product.id %>'>
                  <%= product.name %>
                </a>
              </td>
              <td><%= product.reserved %></td>
              <td>$<%= product.reservedCost().toFixed(2) %></td>
            </tr>
          <% }); %>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td>$<%=
              products.reduce(function(total, product) {
                return total + product.reservedCost();
              }, 0).toFixed(2)
            %></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</main>
