<main class='container'>

  <% include ../subnav %>

  <div class='row'>
    <div class='col-md-3'>
      <p>
        <img class='img-rounded' src='<%= imageUrl(grower, 'medium') %>'>
      </p>
      <% include nav %>
    </div>
    <div class='col-md-9'>
      <h1><%= grower.name %></h1>
      <% if (grower.email) { %>
        <a href='mailto:<%= grower.email %>' target='_blank'>
          <%= grower.email %>
        </a>
      <% } %>
      <% if (grower.email && grower.url) { %>
        &bull;
      <% } %>
      <% if (grower.url) { %>
        <a href='<%= grower.url %>' target='_blank'>
          <%= grower.url %>
        </a>
      <% } %>
      <% if (grower.location && (grower.email || grower.url)) { %>
        &bull;
      <% } %>
      <% if (grower.location) { %>
        <%= grower.location %>
      <% } %>
      <div class='clearfix'>
        <hr>
      </div>
      <%- marked(grower.description) %>
      <h2>
        Products
        <% if (locals.admin) { %>
          <a class='btn btn-default btn-xs' href='/growers/<%= grower.id %>/products/new'>
            New Product
          </a>
        <% } %>
      </h2>
      <hr>
      <% locals.products.forEach(function(product) { %>
        <% include ../products/product %>
      <% }); %>
    </div>
  </div>

</main>
