<main class='container'>

  <% include ../subnav %>

  <div class='row'>
    <div class='col-md-2 text-center'>
      <% include nav %>
    </div>
    <div class='col-md-10'>
      <h1><%= grower.name %></h1>
      <% if (grower.email) { %>
        <a href='mailto:<%= grower.email %>' target='_blank'>
          <%= grower.email %>
        </a>
      <% } %>
      <% if (grower.email && grower.url) { %>
        &bull;
      <% } %>
      <% if (grower.url) { %>
        <a href='<%= grower.url %>' target='_blank'>
          <%= grower.url %>
        </a>
      <% } %>
      <% if (grower.location && (grower.email || grower.url)) { %>
        &bull;
      <% } %>
      <% if (grower.location) { %>
        <%= grower.location %>
      <% } %>
      <hr style='clear: both'>
      <img class='img-rounded pull-right' src='<%= grower.imagePath('medium') %>'>
      <%- marked(grower.description) %>
      <h2 style='clear: both'>
        Products
        <% if (locals.canEdit) { %>
          <a class='btn btn-default btn-xs' href='/growers/<%= grower.id %>/products/new'>
            New Product
          </a>
        <% } %>
      </h2>
      <hr>
      <div class='row'>
        <% products.forEach(function(product) { %>
          <div class='col-md-6'>
            <% include ../products/product %>
          </div>
        <% }) %>
      </div>
    </div>
  </div>

</main>
