<main class='container'>

  <% include ../subnav %>

  <h1>
    Categories
    <a class='btn btn-default btn-xs' href='/admin/categories/new'>New Category</a>
  </h1>
  <hr>
  <table class='table'>
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Position</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% categories.forEach(function(category) { %>
        <tr>
          <td><a class='btn btn-default btn-xs' href='/admin/categories/<%= category.id %>/edit'>Edit</a></td>
          <td><%= category.name %></td>
          <td><%= category.position %></td>
          <td>
            <form method='POST' class='form-inline' action='/admin/categories/<%= category.id %>/delete' enctype='multipart/form-data'>
              <input type='hidden' name='return_to' value='<%= req.originalUrl %>'>
              <button type='submit' class='btn btn-danger btn-xs' data-confirm='Are you sure?'>Delete</button>
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>
