<main class='container'>
  <% include ../subnav %>
  <h1>Edit Location</h1>
  <form class='form-inline' method='POST' action='/admin/locations/<%= location.id %>'>
    <input type='hidden' name='return_to' value='<%= req.originalUrl %>'>
    <div class='btn-group'>
      <label class='btn <%= location.active ? 'btn-primary' : 'btn-default' %>'>
        <input type='radio' name='active' value='1' <% if (location.active) { %>checked<% } %> onclick='this.form.submit()'>
        Active
      </label>
      <label class='btn <%= !location.active ? 'btn-danger' : 'btn-default' %>'>
        <input type='radio' name='active' value='0' <% if (!location.active) { %>checked<% } %> onclick='this.form.submit()'>
        Inactive
      </label>
    </div>
  </form>
  <hr>
  <form method='POST' action='/admin/locations/<%= location.id %>'>
    <% include form %>
  </form>
</main>
