<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width,initial-scale=1'>
<title>Aiken Organics</title>
<link rel='stylesheet' href='<%= assets.path('css/app.css') %>'>
<link rel='shortcut icon' href='<%= assets.path('favicon.ico') %>'>
<% include analytics %>
<%- json('state', locals.state || {}) %>
<%- json('stripe', {key: process.env.STRIPE_PK}) %>
<%- json('bugsnag', {
  apiKey: 'fbe45b981d9d62f9c26e2ec78d469d17',
  releaseStage: process.env.NODE_ENV,
  notifyReleaseStages: ['production'],
  user: user ? {id: user.id, name: user.name, email: user.email} : {}
}) %>
