<main class='container'>

  <% include ../subnav %>

  <h1>Shopping Cart</h1>

  <% if (unavailable.length) { %>
    <div class='alert alert-warning'>
      <p>
        <strong>Whoops!</strong>
        Some of the items in your cart are no longer available. Sorry about that!
      </p>
      <ul>
        <% unavailable.forEach(function (product) { %>
          <li>
            <a href='/products/<%= product.id %>'><%= product.name %></a> -
            There <% if (cart.cart[product.id] > 1) { %>are<% } else { %>is<% } %>
            <%= cart.cart[product.id] %> in your cart, but
            <% if (product.available() === 0) { %>
              none are
            <% } else if (product.available() === 1) { %>
              only one is
            <% } else { %>
              only <%= product.available() %> are
            <% } %>
            available.
          </li>
        <% }) %>
      </ul>
    </div>
  <% } %>

  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Cost</th>
        <th>Quantity</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% products.forEach(function(product) { %>
        <% if (cart.quantity(product) > 0) { %>
          <tr>
            <td><a href='/products/<%= product.id %>'><%= product.name %></a></td>
            <td>$<%= product.cost %> per <%= product.unit %></td>
            <td><%= cart.quantity(product) %></td>
            <td>$<%= cart.total(product).toFixed(2) %></td>
            <td><% include remove %></td>
          </tr>
        <% } %>
      <% }) %>
    </tbody>
    <tfoot>
      <td></td>
      <td></td>
      <td></td>
      <td><strong>$<%= cart.total(products).toFixed(2) %></strong></td>
      <td></td>
    </tfoot>
  </table>

  <% if (cart.size()) { %>
    <form method='POST' action='/cart/checkout' enctype='multipart/form-data'>
      <div class='form-group'>
        <label>Pickup Location</label>
        <select class='form-control' name='location_id'>
          <% locations.forEach(function (location) { %>
            <option value='<%= location.id %>' <% if (locals.order && location.id === order.location_id) { %>selected<% } %>>
              <%= location.name %>
            </option>
          <% }) %>
        </select>
      </div>
      <div class='text-right'>
        <button type='submit' class='btn btn-primary'>
          Check Out
        </button>
      </div>
    </form>
  <% } %>

</main>
