<form class='form-inline hidden-print' method='get' action='/admin/orders'>
  <div class='btn-group'>
    <label class='btn <% if (req.query.full === '1') { %>btn-primary<% } else { %>btn-default<% } %>'>
      <input type='checkbox' name='full' onclick='this.form.submit()' value='1' <% if (req.query.full === '1') { %>checked<% } %>>
      Full
    </label>
  </div>
  <div class='btn-group'>
    <% ['open', 'complete', 'canceled'].forEach(function (status) { %>
      <label class='btn <% if (~req.query.status.indexOf(status)) { %>btn-primary<% } else { %>btn-default<% } %>'>
        <input type='checkbox' name='status[]' onclick='this.form.submit()' value='<%= status %>' <% if (~req.query.status.indexOf(status)) { %>checked<% } %>>
        <%= status.slice(0, 1).toUpperCase() + status.slice(1) %>
      </label>
    <% }) %>
  </div>
  <div class='form-group'>
    <select class='form-control' name='location_id' onchange='this.form.submit()'>
      <option value=''>All Locations</option>
      <% locations.forEach(function (location) { %>
        <option value='<%= location.id %>' <% if (location.id === +req.query.location_id) { %>selected<% } %>>
          <%= location.name %>
        </option>
      <% }) %>
    </select>
  </div>
  <div class='form-group'>
    <select class='form-control' name='product_id' onchange='this.form.submit()'>
      <option value=''>All Products</option>
      <% products.forEach(function (product) { %>
        <option value='<%= product.id %>' <% if (product.id === +req.query.product_id) { %>selected<% } %>>
          <%= product.name %>
        </option>
      <% }) %>
    </select>
  </div>
</form>
