<main class='container'>

  <% include ../subnav %>

  <h1>
    Orders
    <% if (locals.product) { %>
      for
      <a href='/products/<%= product.id %>'>
        <%= product.name %>
      </a>
    <% } %>
  </h1>
  <% include full-toggle %>
  <hr>
  <table class='table'>
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      <% orders.forEach(function(order) { %>
        <tr>
          <td><a href='/admin/orders/<%= order.id %>'>#<%= order.id %></a></td>
          <td><%= order.user.name() %></td>
          <td><%= order.user.email %></td>
          <td><%= order.user.phone || '-' %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</main>
