<main class='container'>

  <% include ../subnav %>

  <div class='pull-right hidden-print'>
    <% if (order.status !== 'complete') { %>
      <form class='form-inline' method='POST' action='/admin/orders/<%= order.id %>' style='display: inline'>
        <input type='hidden' name='status' value='complete'>
        <button type='submit' class='btn btn-primary'>Complete</button>
      </form>
    <% } %>

    <% if (order.status !== 'canceled') { %>
      <form class='form-inline' method='POST' action='/admin/orders/<%= order.id %>' style='display: inline'>
        <input type='hidden' name='status' value='canceled'>
        <button type='submit' class='btn btn-danger'>Cancel</button>
      </form>
    <% } %>

    <% if (order.status !== 'open') { %>
      <form class='form-inline' method='POST' action='/admin/orders/<%= order.id %>' style='display: inline'>
        <input type='hidden' name='status' value='open'>
        <button type='submit' class='btn btn-primary'>Reopen</button>
      </form>
    <% } %>
  </div>

  <h2>
    <a href='/admin/orders/<%= order.id %>'>Order #<%= order.id %></a>
    <small><% include status %></small>
  </h2>
  <h3>
    <a href='/admin/users/<%= order.user.id %>/edit'><%= order.user.name %></a>
    <small>
      <%= order.user.email %>
      -
      <% if (order.user.member_until > new Date()) { %>
        Member until <%= moment(order.user.member_until).format('MM/DD/YYYY') %>
      <% } else { %>
        Not a Member
      <% } %>
    </small>
  </h3>
  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Cost</th>
        <th>Quantity</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% order.productOrders.forEach(function(productOrder) { %>
        <tr>
          <td>
            <a href='/products/<%= productOrder.product.id %>'>
              <%= productOrder.product.name %>
            </a>
            <% if (productOrder.product.oversold) { %>
              <span class='label label-danger'>Oversold</span>
            <% } %>
          </td>
          <td>
            <form class='form-inline' method='POST' action='/admin/product-orders/<%= productOrder.id %>'>
              <div class='input-group'>
                <span class='input-group-addon'>$</span>
                <input type='number' class='form-control' name='cost' value='<%= productOrder.cost %>' onchange='this.form.submit()'>
              </div>
            </form>
          </td>
          <td>
            <form method='POST' action='/admin/product-orders/<%= productOrder.id %>'>
              <select class='form-control' name='quantity' onchange='this.form.submit()'>
                <% for (var i = 1; i <= productOrder.quantity + productOrder.product.available; i++) { %>
                  <option value='<%= i %>' <% if (productOrder.quantity === i) { %>selected<% } %>>
                    <%= i %>
                  </option>
                <% } %>
              </select>
            </form>
          </td>
          <td><%= productOrder.total.toFixed(2) %></td>
          <td>
            <form method='POST' action='/admin/product-orders/<%= productOrder.id %>/remove'>
              <input type='hidden' name='return_to' value='<%= req.originalUrl %>'>
              <input type='hidden' name='product_order_id' value='<%= productOrder.id %>'>
              <button type='submit' class='btn btn-danger btn-xs' data-confirm='Are you sure?'>Remove</button>
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
    <tfoot>
      <td>
        <form method='post' action='/admin/product-orders' class='form-inline'>
          <input type='hidden' name='order_id' value='<%= order.id %>'>
          <input type='hidden' name='quantity' value='1'>
          <div class='input-group'>
            <select name='product_id' class='form-control'>
              <option>Add to Order…</option>
              <% products.forEach(function (product) { %>
                <option value='<%= product.id %>'><%= product.name %></option>
              <% }) %>
            </select>
            <div class='input-group-btn'>
              <button type='submit' class='btn btn-default'>Add</button>
            </div>
          </div>
        </form>
      </td>
      <td></td>
      <td></td>
      <td><strong>$<%= order.total.toFixed(2) %></strong></td>
      <td></td>
    </tfoot>
  </table>

  <form method='POST' action='/admin/orders/<%= order.id %>'>
    <div class='form-group'>
      <label>Location</label>
      <select class='form-control' name='location_id'>
        <% locations.forEach(function (location) { %>
          <option value='<%= location.id %>' <% if (location.id === order.location_id) { %>selected<% } %>>
            <%= location.name %>
          </option>
        <% }) %>
      </select>
    </div>
    <div class='form-group'>
      <label>Notes</label>
      <textarea class='form-control' name='notes' rows='10'><%= order.notes %></textarea>
    </div>
    <button type='submit' class='btn btn-primary'>Save</button>
  </form>

  <hr>

  <h2>Payments</h2>

  <table class='table'>
    <thead>
      <tr>
        <th>Stripe ID</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <% order.payments.forEach(function (payment) { %>
        <tr>
          <td><%= payment.stripe_id %></td>
          <td>$<%= (payment.amount / 100).toFixed(2) %></td>
        </tr>
      <% }) %>
    </tbody>
    <tfoot>
      <tr>
        <td><strong>Total</strong></td>
        <td><strong>$<%= (order.payments.reduce(function (total, payment) { return total + payment.amount }, 0) / 100).toFixed(2) %></strong></td>
      </tr>
    </tfoot>
  </table>

  <% if (order.user.stripe_id) { %>
    <form method='POST' action='/admin/orders/<%= order.id %>/charge'>
      <div class='input-group'>
        <span class='input-group-addon'>$</span>
        <input type='number' name='amount' step='.01' min='0.50' class='form-control'>
        <span class='input-group-btn'>
          <button type='submit' class='btn btn-primary'>Charge</button>
        </span>
      </div>
    </form>
  <% } %>

</main>
