<main class='container'>

  <% include ../subnav %>

  <h2>
    <a href='/admin/orders/<%= order.id %>'>Order #<%= order.id %></a>
    <small><% include status %></small>
  </h2>
  <h3>
    <a href='/admin/users/<%= order.user.id %>/edit'><%= order.user.name() %></a>
    <small><%= order.user.email %></small>
  </h3>
  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Cost</th>
        <th>Quantity</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% order.productOrders.forEach(function(productOrder) { %>
        <tr>
          <td>
            <a href='/products/<%= productOrder.product.id %>'>
              <%= productOrder.product.name %>
            </a>
            <% if (productOrder.product.isOversold()) { %>
              <span class='label label-danger'>Oversold</span>
            <% } %>
          </td>
          <td>$<%= productOrder.cost %></td>
          <td>
            <form method='POST' action='/admin/product-orders/<%= productOrder.id %>' enctype='multipart/form-data'>
              <select class='form-control' name='quantity' onchange='this.form.submit()'>
                <% for (var i = 1; i <= productOrder.quantity + productOrder.product.available(); i++) { %>
                  <option value='<%= i %>' <% if (productOrder.quantity === i) { %>selected<% } %>>
                    <%= i %>
                  </option>
                <% } %>
              </select>
            </form>
          </td>
          <td><%= productOrder.total().toFixed(2) %></td>
          <td>
            <form method='POST' action='/admin/product-orders/<%= productOrder.id %>/remove' enctype='multipart/form-data'>
              <input type='hidden' name='return_to' value='<%= req.originalUrl %>'>
              <input type='hidden' name='product_order_id' value='<%= productOrder.id %>'>
              <button type='submit' class='btn btn-danger btn-xs' data-confirm='Are you sure?'>Remove</button>
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
    <tfoot>
      <td></td>
      <td></td>
      <td></td>
      <td><strong>$<%= order.total().toFixed(2) %></strong></td>
      <td></td>
    </tfoot>
  </table>

  <form method='POST' action='/admin/orders/<%= order.id %>' enctype='multipart/form-data'>
    <div class='form-group'>
      <label>Notes</label>
      <textarea class='form-control' name='notes' rows='10'><%= order.notes %></textarea>
    </div>
    <div class='form-group'>
      <label>Location</label>
      <select class='form-control' name='location_id'>
        <% locations.forEach(function (location) { %>
          <option value='<%= location.id %>' <% if (location.id === order.location_id) { %>selected<% } %>>
            <%= location.name %>
          </option>
        <% }) %>
      </select>
    </div>
    <button type='submit' class='btn btn-primary'>Save</button>
  </form>

  <hr>

  <div class='pull-right hidden-print'>
    <% if (order.status !== 'complete') { %>
      <form class='form-inline' method='POST' action='/admin/orders/<%= order.id %>' style='display: inline'>
        <input type='hidden' name='status' value='complete'>
        <button type='submit' class='btn btn-primary'>Complete</button>
      </form>
    <% } %>

    <% if (order.status !== 'canceled') { %>
      <form class='form-inline' method='POST' action='/admin/orders/<%= order.id %>' style='display: inline'>
        <input type='hidden' name='status' value='canceled'>
        <button type='submit' class='btn btn-danger'>Cancel</button>
      </form>
    <% } %>

    <% if (order.status !== 'open') { %>
      <form class='form-inline' method='POST' action='/admin/orders/<%= order.id %>' style='display: inline'>
        <input type='hidden' name='status' value='open'>
        <button type='submit' class='btn btn-primary'>Reopen</button>
      </form>
    <% } %>
  </div>

</main>
