<main class='container'>

  <% include ../subnav %>
  <% include ./order %>

  <h4>Notes</h4>
  <form method='POST' action='/admin/orders/<%= order.id %>' enctype='multipart/form-data'>
    <div class='form-group'>
      <textarea class='form-control' name='notes' rows='10'><%= order.notes %></textarea>
    </div>
    <button type='submit' class='btn btn-primary'>Save</button>
  </form>

  <hr>

  <div class='pull-right hidden-print'>
    <% if (order.status !== 'complete') { %>
      <form class='form-inline' method='POST' action='/admin/orders/<%= order.id %>' style='display: inline'>
        <input type='hidden' name='status' value='complete'>
        <button type='submit' class='btn btn-primary'>Complete</button>
      </form>
    <% } %>

    <% if (order.status !== 'canceled') { %>
      <form class='form-inline' method='POST' action='/admin/orders/<%= order.id %>' style='display: inline'>
        <input type='hidden' name='status' value='canceled'>
        <button type='submit' class='btn btn-danger'>Cancel</button>
      </form>
    <% } %>

    <% if (order.status !== 'open') { %>
      <form class='form-inline' method='POST' action='/admin/orders/<%= order.id %>' style='display: inline'>
        <input type='hidden' name='status' value='open'>
        <button type='submit' class='btn btn-primary'>Reopen</button>
      </form>
    <% } %>
  </div>

</main>
