<!doctype html>
<html>
<head>
  <% include ../head %>
</head>
<body>

<% include ../nav %>

<div class='container'>
  <h1>Users</h1>
  <hr>
  <table class='table'>
    <thead>
      <tr>
        <th></th>
        <th>Email</th>
        <th>First</th>
        <th>Last</th>
        <th>Phone</th>
        <th>Admin</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(function(user) { %>
        <tr>
          <td><a class='btn btn-default btn-xs' href='<%= userEditUrl(user) %>'>Edit</a></td>
          <td><%= user.email %></td>
          <td><%= user.first || '-' %></td>
          <td><%= user.last || '-' %></td>
          <td><%= user.phone || '-' %></td>
          <td><%= user.is_admin ? '✓' : '-' %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<% include ../footer %>

<script src='/js/app.js'></script>

</body>
</html>
