<main class='container'>
  <% include ../subnav %>
  <div class='row'>
    <div class='col-md-2'>
      <% include nav %>
    </div>
    <div class='col-md-10'>
      <% include header %>
      <h3>Totals from Complete Orders</h3>
      <hr>
      <table class='table'>
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <% products.forEach(function (product) { %>
            <tr>
              <td><a href='/products/<%= product.id %>'><%= product.name %></a></td>
              <td><%= product.quantity %></td>
              <td>$<%= product.total %></td>
            </tr>
          <% }) %>
        </tbody>
        <tfoot>
          <td></td>
          <td></td>
          <td>$<%= products.reduce((total, product) => { return total + +product.total }, 0) %></td>
        </tfoot>
      </table>
    </div>
  </div>
</main>
