<main class='container'>
  <% include ../subnav %>
  <div class='row'>
    <div class='col-md-2'>
      <% include nav %>
    </div>
    <div class='col-md-10'>
      <% include header %>
      <div class='panel panel-default'>
        <div class='panel-heading'>
          <h3 class='panel-title'>Users With Access</h3>
        </div>
        <table class='table'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% grower.userGrowers.forEach(function (userGrower) { %>
              <tr>
                <td><a href='/admin/users/<%= userGrower.user.id %>/edit'><%= userGrower.user.name() || '-' %></a></td>
                <td><a href='/admin/users/<%= userGrower.user.id %>/edit'><%= userGrower.user.email %></a></td>
                <td><%= userGrower.user.phone || '-' %></td>
                <td>
                  <form method='POST' action='/admin/growers/<%= grower.id %>/removeuser' enctype='multipart/form-data'>
                    <input type='hidden' name='user_id' value='<%= userGrower.user.id %>'>
                    <button type='submit' class='btn btn-danger btn-xs'>Remove</button>
                  </form>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
        <div class='panel-footer'>
          <form method='POST' action='/admin/growers/<%= grower.id %>/adduser' enctype='multipart/form-data' class='form-inline'>
            <div class='form-group'>
              <select id='user_id' name='user_id' class='form-control' required>
                <option value=''>Select a User</option>
                <% users.forEach(function (user) { %>
                  <option value='<%= user.id %>'>
                    <%= user.email %> - <%= user.name() %>
                  </option>
                <% }) %>
              </select>
              <button type='submit' class='btn btn-primary'>Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
