<main class='container'>
  <% include ../subnav %>
  <h1>Products</h1>
  <% include controls %>
  <hr>
  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Grower</th>
        <th>Supply</th>
        <th>Reserved</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% products.forEach(function(product) { %>
        <tr>
          <td><a href='/products/<%= product.id %>'><%= product.name %></a></td>
          <td><a href='/growers/<%= product.grower.id %>'><%= product.grower.name %></a></td>
          <td><%= product.supply %></td>
          <td><%= product.reserved %></td>
          <td><a class='btn btn-primary btn-xs' href='/admin/orders?product_id=<%= product.id %>'>View Orders</a></td>
          <td><% include ../../products/active %></td>
          <td>
            <% if (product.isOversold()) { %>
              <span class='label label-danger'>Oversold</span>
            <% } %>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>
