<main class='container'>
  <% include ../subnav %>
  <div class='row'>
    <div class='col-md-3'>
      <p class='text-center'>
        <img class='img-rounded' src='<%= imageUrl(product, 'medium') %>'>
      </p>
      <p>
        <form method='POST' action='/products/<%= product.id %>/image' enctype='multipart/form-data'>
          <input type='hidden' name='return_to' value='<%= req.originalUrl %>'>
          <div class='input-group'>
            <input type='file' name='image' class='form-control' required>
            <span class='input-group-btn'>
              <button type='submit' class='btn btn-primary'>
                Upload
              </button>
            </span>
          </div>
        </form>
      </p>
      <% include nav %>
    </div>
    <div class='col-md-9'>
      <h1>Edit Product</h1>
      <form method='post' action='/products/<%= product.id %>' enctype='multipart/form-data' class='pull-right'>
        <input type='hidden' name='return_to' value='/products/<%= product.id %>/edit'>
        <% if (product.active) { %>
          <input type='hidden' name='active' value='0'>
          <button class='btn btn-default btn-sm'>Deactivate</button>
        <% } else { %>
          <input type='hidden' name='active' value='1'>
          <button class='btn btn-primary btn-sm'>Activate</button>
        <% } %>
      </form>
      <h4>
        <%= product.grower.name %>
        <% include active %>
      </h4>
      <hr>
      <form method='POST' action='/products/<%= product.id %>' enctype='multipart/form-data'>
        <% include form %>
      </form>
    </div>
  </div>
</main>
