<div class='form-group'>
  <label for='name'>Name</label>
  <input autofocus type='text' id='name' name='name' class='form-control' required <% if (locals.product) { %>value='<%= product.name %>'<% } %>>
</div>
<div class='form-group'>
  <label for='cost'>Cost</label>
  <input type='text' id='cost' name='cost' class='form-control' required <% if (locals.product) { %>value='<%= product.cost %>'<% } %>>
</div>
<div class='form-group'>
  <label for='unit'>Unit</label>
  <input type='text' id='unit' name='unit' class='form-control' required <% if (locals.product) { %>value='<%= product.unit %>'<% } %>>
</div>
<div class='form-group'>
  <label for='available'>Available Amount</label>
  <input type='text' id='available' name='available' class='form-control' required <% if (locals.product) { %>value='<%= product.available %>'<% } %>>
</div>
<div class='form-group'>
  <label for='description'>Description</label>
  <textarea rows='5' id='description' name='description' class='form-control'><% if (locals.product) { %><%= product.description %><% } %></textarea>
</div>
<% if (locals.flash) { %>
  <div class='alert alert-danger'>
    <%= locals.flash %>
  </div>
<% } %>
<p class='text-right'>
  <button type='submit' class='btn btn-primary'>
    Save
  </button>
</p>
