<main class='container'>

  <% include ../subnav %>

  <div class='row'>
    <div class='col-md-3 text-center'>
      <p>
        <% include ../cart/form %>
      </p>
      <p>
        <img class='img-rounded' src='<%= imageUrl(product, 'medium') %>'>
      </p>
      <% include nav %>
    </div>
    <div class='col-md-9'>
      <h1><%= product.name %></h1>
      <% if (locals.open) { %>
        $<%= product.cost %>
        per
        <%= product.unit %>
        &bull;
        <% if (product.active && product.grower.active) { %>
          <%= product.available() %> Available
        <% } else { %>
          Unavailable
        <% } %>
        &bull;
      <% } %>
      <a href='/growers/<%= product.grower.id %>'>
        <%= product.grower.name %>
      </a>
      &bull;
      <%= product.category.name %>
      <div class='clearfix'>
        <hr>
      </div>
      <%- marked(product.description) %>
    </div>
  </div>

</main>
